.Follower-content {
  width: clamp(350px, 40vw, 440px);
  height: 370px;
  z-index: 150;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: white;
  display: flex;
  flex-direction: column;
}

.Follower-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
.ListTitle {
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 45px;
  border-bottom: 1px solid #999999;
}
.followerListWrap {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.followerWrap {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e2e0e0;
  display: flex;
  flex-direction: row;
}
.imgWrap {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgWrap > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
}
.infoWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.infoWrap > span:first-of-type {
  font-size: 0.9rem;
  font-weight: 600;
}
.infoWrap > span:last-of-type {
  font-size: 0.9rem;
  color: #555555;
}
.deleteWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.deleteWrap > button {
  font-size: 0.8rem;
  font-weight: 300;
  background-color: #ebedf0;
  border: 1px solid #ebedf0;
}
.deleteWrap > button:hover {
  border: 1px solid #ccd0d5;
  background-color: #ccd0d5;
}
