.receivedmessageWrap {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  height: 14vh;
  border-bottom: 1px solid #777777;
}
.profileImgWrap {
  width: 7vw;
  height: 10vh;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 15px;
}
.messageWrap {
  width: 40vw;
  line-height: 25px;
}
.nicknameWrap {
  font-size: 15px;
  font-weight: 600;
  color: #5e3fa7;
}
.titleWrap {
  font-size: 13px;
  font-weight: 600;
}
.otherWrap {
  width: 14vw;
}
.date {
  font-size: 12px;
  color: #888888;
}
