.addReport {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 30px auto 0px;
}
.imgWrap {
  width: 45%;
  height: 400px;
  margin-right: 5%;
  border: 1px solid #e2e0e0;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #e2e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgWrap > span {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
}
.imgWrap > img {
  width: 100%;
}
.addReportWrap {
  width: 50%;
  height: 400px;
}
.file_btn {
  width: 30%;
  height: 40px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.InputImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.public_radio {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.public_radio > label {
  font-weight: 300;
  margin-left: 10px;
}
.rptitleWrap > input {
  width: 100%;
  height: 40px;
  border: 1px solid #e2e0e0;
  border-radius: 8px;
  background-color: white;
  text-decoration: none;
  box-shadow: 2px 2px 2px 2px #e2e0e0;
  padding-left: 10px;
  margin: 10px 0px;
}
.rpcommentWrap > textarea {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  border: 1px solid #e2e0e0;
  background-color: white;
  text-decoration: none;
  box-shadow: 2px 2px 2px 2px #e2e0e0;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 10px;
}
.addReportWrap > span {
  font-size: 1rem;
  font-weight: 600;
}
.rpbtnWrap {
  width: 45vw;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.rpbtnWrap > button {
  width: 25%;
  height: 80%;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-left: 15px;
  background-color: #ebedf0;
  border: 1px solid #ebedf0;
  box-shadow: 1px 1px 1px 1px gray;
}
.rpbtnWrap > button:hover {
  border: 1px solid #ccd0d5;
  background-color: #ccd0d5;
}
