.blcWrap {
  cursor: pointer;
}

.blcImg {
  width: 100%;
  height: 200px;
  padding: 10px;
}
.img {
  width: 145px;
  height: 180px;
  border-radius: 20px;
  border: 1px solid #999999;
}
.img:hover {
  border: 1px solid black;
}
