.reportUpdate {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 30px auto 0px;
}
.ruimgWrap {
  width: 40vw;
  height: 400px;
  margin-right: 5%;
  border: 1px solid #e2e0e0;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #e2e0e0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ruimgWrap > span {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
}
.ruimgWrap > img {
  width: 90%;
  height: 90%;
}
.updateReportWrap {
  width: 50%;
  height: 400px;
}
.rufile_btn {
  width: 30%;
  height: 40px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.ruInputImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rupublic_radio {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.rupublic_radio > label {
  font-weight: 300;
  margin-left: 10px;
}
.rutitleWrap > input {
  width: 100%;
  height: 40px;
  border: 1px solid #e2e0e0;
  border-radius: 8px;
  background-color: white;
  text-decoration: none;
  box-shadow: 2px 2px 2px 2px #e2e0e0;
  padding-left: 10px;
  margin: 10px 0px;
}
.rucommentWrap > textarea {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  border: 1px solid #e2e0e0;
  background-color: white;
  text-decoration: none;
  box-shadow: 2px 2px 2px 2px #e2e0e0;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 10px;
}
.updateReportWrap > span {
  font-size: 16px;
  font-weight: 600;
}
.rubtnWrap {
  width: 45vw;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.rubtnWrap > button {
  width: 25%;
  height: 80%;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-left: 15px;
  background-color: #ebedf0;
  border: 1px solid #ebedf0;
  box-shadow: 1px 1px 1px 1px gray;
}
.rubtnWrap > button:hover {
  border: 1px solid #ccd0d5;
  background-color: #ccd0d5;
}
